# ignore .git related folders
.git/
.github/
.gitignore
# ignore docs
docs/
# ignore logs
**/logs/
**/runs/
**/output/*
**/outputs/*
**/videos/*
**/dataset/*
**/datasets/*
**/checkpoints/*
**/wandb/*
**/*.safetensors
**/*.ckpt
**/*.pt
**/*.pth
**/*.onnx
**/*.bin
**/*.gguf
*.tmp
# ignore docker
docker/cluster/exports/
docker/.container.cfg
# ignore recordings
recordings/
# ignore __pycache__
**/__pycache__/
**/*.egg-info/
# ignore isaac sim symlink
_isaac_sim?
